/* Reset some default styles for better consistency */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Style the body with background image */
body {
    background-image: url('../static/images/background.jpg'); /* Path to your background image */
    background-size: cover;
    background-attachment: fixed; /* This ensures the background stays fixed as you scroll */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the container for the content */
.container {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff; /* Solid white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the title */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
